// Breakpoints
$breakpoint-3xl: 1440px;
$breakpoint-xxl: 1280px;
$breakpoint-xl: 1024px;
$breakpoint-lg: 990px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$break-xs: 375px;
$container-width: 1200px;
$dot: 1px;
$gutter: 15px;

$dot: 1px;
