<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Admin</title>
</head>

<body>
  <div>
    <h2>NEU Smartphone Database</h2>
    <form action="{{ url_for('predict')}}" method="post">
      <input type="text" name="CPU cores" placeholder="CPU cores" required="required" />
      <input type="text" name="CPU freq" placeholder="CPU freq" required="required" />
      <input type="text" name="Display height" placeholder="Display height" required="required" />
      <input type="text" name="Display screen" placeholder="Display screen" required="required" />
      <input type="text" name="Display witdh" placeholder="Display witdh" required="required" />
      <input type="text" name="Memory RAM" placeholder="Memory RAM" required="required" />
      <input type="text" name="Memory ROM" placeholder="Memory ROM" required="required" />

      <button type="submit" class="btn btn-primary btn-block btn-large" id="predict-btn">Predict</button>
    </form>

    <br>
    <br>
    {{ prediction_type }}

    <h2>Test run script</h2>
    <form action="{{url_for('create_model')}}" method="post">
      <button type="submit" class="bg-[#010101] text-white" id="run-script-btn">Run script</button>
    </form>

    <form action="{{url_for('visualize')}}" method="post">
      <button type="submit" class="bg-[#a3a3a3]" id="visulize-tree-btn">Visualize tree</button>
    </form>

    <img src="/static/images/decision_tree_study_work.png" alt="Model visualization" class="w-[400px] h-auto">
    <img src="/static/images/decision_tree_entertainment.png" alt="Model visualization" class="w-[400px] h-auto">
  </div>
</body>

</html>