@import "../../styles/mixins";
@import "../../styles/variables";

.predict-model-btn {
  cursor: pointer;
  position: fixed;
  z-index: 100;
  top: 200px;
  left: 0;
  width: 160px;
  height: 45px;
  background-color: #999;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 100%;
    height: 100%;
    border-width: 22px 20px 22px 0;
    border-style: solid;
    border-color: #999 transparent #999 transparent;
  }

  @include max-xl {
    width: 50px;
  }
}
