.swiper-button-disabled {
  span {
    color: #54595f;
  }
}

.product-nav-section {
  cursor: pointer;
  display: flex;
  font-size: 16px;
  align-items: center;
  height: 45px;
}

.brand-slide {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  transition: all 0.2s linear;
}

.product-nav-section:hover .brand-slide {
  visibility: visible;
  opacity: 1;
}
